# API
SECRET_KEY=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DJANGO_SETTINGS_MODULE=
( schoolmarksapi.settings.prod or schoolmarksapi.settings.dev or schoolmarksapi.settings.debug )

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0